.arkaDiv{
    background-color: rgb(170, 154, 134);
    width: 100%;
    height: 100%;
}

.ust{    
    background-color: rgb(236, 202, 208);
    height: 80px;
    padding: 5px;
}

.ortaUst{
    height: 180px;
    background-color: royalblue;
    padding: 5px;
}

.ortaAltSol{
    width: 30%;
    height: 180px;
    background-color:rgb(87, 161, 118);
    padding: 1%;
    float: left;
}

.ortaAltOrta{
    width: 30%;
    height: 180px;
    background-color:rgb(48, 88, 128);
    padding: 1%;
    float: left;
}

.ortaAltSag{
    width: 30%;
    height: 180px;
    background-color:slategrey;
    padding: 1%;
    float: left;
}

.alt{
    background-color: thistle;
    height: 50px;
    padding: 5px;
}

.ortaBosluk{
    width: 2%;
    height: 200px;
    float: left;
}

.bosluk{
    width: 100%;
    height: 10px;
}

.sifirla{clear: both;}