p{
    font-size: 18pt;
    color: #17d174;
    text-align: center;
    color: red;
    background-color: rgb(145, 163, 175);
}

#idBurada{
    font-size: 20pt;
    color: #48098c;
}

.sinifli{
    font-size: 30pt;
    color: royalblue;
}

body{
    background-color: silver;
}

span{
    background-color: tomato;
}